* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}


.container {

    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr 1.2fr 1.2fr;
    grid-template-areas:"logo    logo     header"
                        "main    main     imgbox"
                        "quates  quates   imgbox"
                        "btn1    btn2     imgbox";

}

.item1 {
    background-color: #b1dbd7;
    grid-area:logo;
     display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 125px;

}

.item2 {
 grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #7a9c98;
}

.item2 ul{
    list-style-type: none;
    display: flex;

}

.item2 li{
    margin: 10px;
}




.item3 {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 125px;


}

.item3 h1 {
    margin-bottom: 50px;
}

.item4 {
    grid-area: quates;

    background-color: #e6f0ef;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 125px;

}

.item5 {
    grid-area: imgbox;


}

.item5 img {
    width: 100%;
    height: 100%;
}

.item6 {

    grid-area: btn1;

    background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 125px;
}

.item7 {
    grid-area: btn2;
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 125px;
}






/* responsive */



@media (max-width:767px){
    

    .container{
        height: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "logo      logo"
                              "header   header"
                              "imgbox   imgbox"
                              "main     main " 
                              "quates   quates"
                              "btn1     btn2 "  ;
        grid-template-rows: 100px 50px 50vh auto auto 70px;

    }

   

    .item1{
        padding-left: 0;
        justify-content: center;
    }

    .item2{
        justify-content: center;   
    }

    
    .item3{
        padding: 50px 24px;
    }

    .item4{
        padding: 20px 24px;
    }

    .item3 h1 {
        margin-bottom: 12px;
        font-size: 30px;
        
    }


    .item6 {
        padding-left: 0;
        justify-content: center;
        
        
     
    }

    .item7 {
        padding-left: 0;
        justify-content: center;
        
     
    }
    
}